* {
  box-sizing: border-box;
}

body {
  font: normal 14px Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
  font-size: 18px;
  margin: 12px 0;
}

li::after {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: -22px;
  border-radius: 16px;
  border: 2px dotted black;
  width: 8px;
  height: 8px;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #2578CF;
}

/* COMMON */
.stripe-container {
  position: relative;
  overflow: hidden;
}

.stripe {
  position: absolute;
  left: -10%;
  width: 120%;
  z-index: -1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HERO */
#hero {
  text-align: center;
  height: 100vh;
}

#hero-stripe {
  top: -20%;
  height: 100%;
  background: #a31f34;
  transform: rotate(-7deg);
}

/* ABOUT */
#about {
  padding: 5%;
}

#about-header {
  margin-bottom: 30px;
}

#about-header h2 {
  display: block;
  background: black;
  color: white;
  padding: 2px 6px;
  margin-right: 40px;
}

#portrait {
  width: 84px;
  height: 84px;
}

#portrait img {
  border-radius: 100%;
  max-width: 100%;
  max-height: 100%;
}

#about section {
  margin: 80px 0;
}

/* TIPS */
#tips {
  min-height: 100vh;
  padding: 20% 5%;
  margin-top: 20%;
}

#tips-stripe {
  top: 15%;
  height: 70%;
  background: #F3F3F3;
  transform: rotate(7deg);
}

#tips h2 {
  margin-bottom: 60px;
}

#tips p {
  color: #676767;
  margin-bottom: 40px;
}

/* FOOTER */
footer {
  padding: 2% 5%;
}

footer a {
  margin: 0 6px;
}

/* DISABLE STRIPES ON MOBILE */
@media screen and (max-width: 640px) {
  #hero-stripe, #tips-stripe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }
}
